/MDSecurityTester/build/
/MDSecurityTester/dist/
/MDSecurityTester-Preloader/dist/
/MDSecurityTester-Preloader/build/
*.log
MDSecurityTester/.idea*
*.png
*.bak
MDSecurityTester/venv/*
.DS_Store
MDSecurityTester/.idea/MDSecurityTester.iml
MDSecurityTester/.idea/MDSecurityTester.iml
MDSecurityTester/.idea/misc.xml
MDSecurityTester/.idea/MDSecurityTester.iml
