/MDSecurityTester/build/
/MDSecurityTester/dist/
/MDSecurityTester-Preloader/dist/
/MDSecurityTester-Preloader/build/
*.log
MDSecurityTester/.idea/encodings.xml
MDSecurityTester/.idea/workspace.xml
MDSecurityTester/.idea/workspace.xml
